.buscar-por-cliente {
    border: 3px blueviolet solid;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}
.buscar-por-venta {
    border: 3px blueviolet solid;
    margin: 5px;
    float: left;
}
.contenedor-busqueda { 
    margin: 5px;
}