/* selector universal */
* {
  border: 1px solid blue;
  margin: 5px;
}

  /*selector etiquetas*/

  /*selector de clases*/
.cabecera-contenedor {
  height: 100%;
  width: 100%;
  background-color: beige;
}
.menu {
  height: 100%;
  width: 24%;
  background-color: rgb(243, 180, 238);
  float: left;
}
.contenido {
  height: 100%;
  width:74%;
  background-color:gray;
  float: left;
}
.nombre {
  color: aliceblue;
}
.pie {
  height:100%;
  width:100%;
  clear: both;
  background-color: rgb(167, 247, 180)
}

/*selector ID*/