/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.tabla {
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    
}
  
.tabla td,
.tabla th {
    padding: 8px;
    border: 1px solid rgb(182, 178, 178);
}
  
.tabla th {
    background-color: hsl(138, 50%, 87%);
    color: rgb(15, 15, 15);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
  
.tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
.tabla tr:hover {
    background-color: #ddd;
    cursor: pointer;
}